input[type=text] {  
    padding: 6px;  
    margin-top: 8px;  
    font-size: 20px;  
    border: 2px solid;  
    }  

button {  
  
        padding: 6px;  
        margin-top: 8px;  
        margin-left: 10px;  
         
        font-size: 20px;  
        }  
