input[type=text] {  
    padding: 6px;  
    margin-top: 8px;  
    font-size: 20px;  
    border: 2px solid;  
    }  

button {  
  
        padding: 6px;  
        margin-top: 8px;  
        margin-left: 10px;  
         
        font-size: 20px;  
        }  

.grid {
       display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 70px;
        margin-top: 40px;
        
        
        
        
        

            &__item {
                border: solid 1px black;
                font-size: 30px;
                width: 100px;
                height: 100px;
                
                align-items: center;
            }
        }


.search {
    display: block;
    text-align: center;
    
    
}

.move { 
    display: block;
    align-items: center;
    justify-content: center;
   
}

