input[type=text] {  
    padding: 6px;  
    margin-top: 8px;  
    font-size: 20px;  
    border: 2px solid;  
    
    }  

button {  
  
        padding: 6px;  
        margin-top: 8px;  
        margin-left: 10px;  
         
        font-size: 20px;  
        }  



.search {
    display: block;
    text-align: center;
    
    
}



.items {
    border: 1px solid white;
    align-items: center;
    display: flex;
    flex-direction: column;
    //width: 500px;
    width: 250px;
    margin: 1px;
    padding: 20px;
    text-align: center;
   
    
}

.items2{
    border: 1px solid white;
     display: flex;
   flex-direction: row; ///Puts paragraph on side
    width: 40vw;
    align-items: center;
}




p { 
    border: 1px solid white;
    width: 40vw;
    
    display: flex;
    text-overflow: ellipsis;
   ///font-size: 25px;
    
    font-size: 30px;
}

.container {
    
    margin-top: 100px;
    margin-left: 50px ;
    border: 2px white solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    //width: 80vw;
    
    

}
.page{
    margin-bottom: 150px;
    margin-top: 100px;
    
}

image {
    margin-top: 5px;
}

body{
    display: flex;
    flex-direction: column;
}
h2
    {
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
       
    }

h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
///

h1 {

    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;;
}